<div id="<%= dom_id message %>">
  <p>
    <strong>Body:</strong>
    <%= message.body %>
  </p>

  <hr>
    upvotes: <%= message.cached_scoped_like_votes_up %>
    <br>
    downvotes: <%= message.cached_scoped_like_votes_down %>
    <br>
    score: <%= message.cached_scoped_like_votes_score %>
    <br>
    total_votes: <%= message.cached_scoped_like_votes_total %>
    <br>
  <hr>

  <%#= button_to upvote_label(message, current_user), upvote_message_path(message), method: :patch, style: upvote_label_styles(message, current_user) %>
  <%#= button_to "Upvote & Redirect", upvote_message_path(message, format: :html), method: :patch %>  
  <%#= button_to downvote_label(message, current_user), downvote_message_path(message), method: :patch, style: downvote_label_styles(message, current_user) %>


  <%= button_to upvote_label(message, current_user), vote_message_path(message, type: :upvote), method: :patch, style: upvote_label_styles(message, current_user) %>
  <%= button_to downvote_label(message, current_user), vote_message_path(message, type: :downvote), method: :patch, style: downvote_label_styles(message, current_user) %>


  <% if current_user.voted_up_on? message, vote_scope: "bookmark" %>
    "BookMarked"
  <% else %>
    "Not BookMarked"
  <% end %>

  <%= button_to "BookMark", bookmark_message_path(message), method: :patch %>


</div>
