<div id="<%= dom_id message %>">
  <p>
    <strong>Body:</strong>
    <%= message.body %>
  </p>

  <hr>
    upvotes: <%= message.cached_votes_up %>
    <br>
    downvotes: <%= message.cached_votes_down %>
    <br>
    score: <%= message.cached_weighted_score %>
    <br>
    total_votes: <%= message.cached_weighted_total %>
    <br>
  <hr>

  <%= button_to upvote_label(message, current_user), upvote_message_path(message), method: :patch, style: upvote_label_styles(message, current_user) %>
  <%= button_to "Upvote & Redirect", upvote_message_path(message, format: :html), method: :patch %>  
  <%= button_to downvote_label(message, current_user), downvote_message_path(message), method: :patch, style: downvote_label_styles(message, current_user) %>

</div>
